@font-face {
    font-family: "Ubuntu Mono Regular";
    src: url("@assets/UbuntuMono-Regular.ttf");
    font-display: swap;
}

@keyframes notif-slidein {
    0% {
        bottom: -200%;
    }
    7.5% {
        bottom: 10px;
    }
    90% {
        bottom: 10px;
    }
    100% {
        bottom: -200%;
    }
}

body {
    color: white;
    background-color: #151516;
    /* background-color: #191929; */
    /* background-color: #241a1a; */
    font-family: 'Ubuntu Mono Regular', monospace;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    scrollbar-width: none;
}

button {
    padding: 4px 10px;
    border: none;
    border-radius: 10px;
    /* background-color: #ececec; */
    /* color: black; */
    background-color: #3b3a3a80;
    border: 1px solid #494949;
    color: white;
    font-size: 15px;
    font-family: 'Ubuntu Mono Regular', monospace;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

button:hover {
    /* background-color: #ffffff; */
    background-color: #4b4a4aa0;
    border-radius: 5px;
}

button:disabled {
    cursor: not-allowed;
    color: #494949;
    border-radius: 10px;
    background-color: #292929a0;
}

/* text input */

input[type=text], input[type=password], input[type=number] {
    padding: 4px 10px;
    border: none;
    border-radius: 10px;
    background-color: #3b3a3a80;
    color: #ffe677;
    font-size: 15px;
    font-family: 'Ubuntu Mono Regular', monospace;
    transition: all .1s ease-in-out;
}
textarea {
    background-color: #3b3a3a80;
    color: white;
}
select {
    background-color: #3b3a3a80;
    color: white;
}
select option {
    background-color: #3b3a3a;
}
.notification {
    display:block;
    position:fixed;
    bottom: 10px;
    padding: 10px;
    z-index: 1000;
    border-radius: 10px;
    background-color: #ececec;
    color: black;
    font-size: 15px;
    font-family: 'Ubuntu Mono Regular', monospace;
    animation-duration: 5s;
    animation-name: notif-slidein;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.login-token-input {
    width: calc(min(100%, 725px) - 20px);
}

textarea {
    font-family: 'Ubuntu Mono Regular', monospace;
    font-size:medium;
}

#login-div {
    background-color: #302c2c;
    align-items: center;
    text-align: center;
    margin: auto;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin-top: 25px;
}

select {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-top:2px;
    margin-bottom:2px;
}

.codeblock {
    color: #ffd57b;
    background-color: #ffd57b20;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid #ffd57b40;
}
tr:nth-child(even) {
    background-color: #242121;
}

td, th {
    border: 1px solid #444040;
}

#login-div input {
    background-color: #1b1b1b;
}

:root {
    overflow-x: hidden;
}